@{
  ViewData["Title"] = "Order completed";
}

<div class="container">
  <h2 class="text-center">
    Thanks for your order
  </h2>
  <div class="text-center mt-3">
    <a asp-controller="Food" asp-action="Index" class="btn btn-primary">Back to home</a>
  </div>
</div>
